<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/style_login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!-- Revisi-->
<body>
    <% if (messages.error) { %>
        <h5><%= messages.error %></h5>
    <% } %>
    <div class = "text-center center-div" id="login">
        <div class = "container w-25 border py-5">
            <div class = "title">
                <h2 class = "font-weight-bold"> Login System</h2>
                <span> Log in for the existing user</span>
            </div>
            
            <form id="contact-form" method="POST" action="/login">
                <div class = "form-group">
                    <input type = "email" class="form-control" placeholder= "email" name = "username">
                    <small class = "form-text text-muted text-left"> Login Email Address</small>
                </div>
                <div class = "form-group">
                    <input type="password" class = "form-control" name = "password" placeholder="password">
                </div>
                <button type = "submit" class = "btn btn-success rounded-pill">Submit</button> 
            </form>
        
        </div>
    </div>

    
</body>
</html>