<!DOCTYPE html>
 <html lang="en">
   <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <title>Rock Paper Scissor Game</title>
        
   </head>
    <body>
    <section>
      <div class="game-area">
          <div class ="user-choice">
             <h1 class="player-name">PLAYER 1</h1>
             <div class="used">
                <button class="user-toll your-tool latarganti " id="r-user">
                    <img class= "choice" src="assets/batu.png" alt="batu"> 
                  </button>
                <button class=" user-toll your-tool disapp latarganti" id="p-user">
                  <img class= "choice" src="assets/gunting.png" alt="gunting">
                  </button>
                <button class="user-toll your-tool disapp latarganti" id="s-user">
                <img class= "choice" src="assets/kertas.png" alt="kertas">
                  </button>
             </div> 
         </div>
        <div class="Versus-Reset-scoreboard">
           <div class ="boxR" id="box">
             <h1 id="h1">VS</h1>
          </div>
          <div class="refresh">
            <img id="refresh" src="assets/refresh.png">
          </div>
          <div class="score-board">
            <span id ="user-score">0</span>:<span id=computer-score>0</span>
          </div>
        </div>

         <div class ="Com-choice">
          <h1 class="player-name">COM</h1>
          <div class="used">
             <button class="user-toll your-tool latarganti " id="r-com">
                 <img class= "choice" src="assets/batu.png" alt="batu"> 
               </button>
             <button class=" user-toll your-tool latarganti " id="p-com">
               <img class= "choice" src="assets/gunting.png" alt="gunting">
               </button>
             <button class=" user-toll your-tool latarganti" id="s-com">
             <img class= "choice" src="assets/kertas.png" alt="kertas">
               </button>
          </div>
      </div>
    </div>

    </section>
    
     <script src="js/rps_.js"></script>
    </body>
 </html>